---
import CreateGalleryComponent from "../../slices/gallery/CreateGallery.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/3c.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta content="create media gallery" property="og:site_name" />
    <meta content="creates a media gallery!" property="og:description" />
    <link rel="shortcut icon" href="/3c.png" />
    <title>create gallery</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="fullscreen">
    <CreateGalleryComponent client:only />
  </body>
</html>
