---
import Navbar from "../../../components/Navbar.astro";
import DesloppifyComponent from "../../../slices/chatbot-tools/Desloppify.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/3c.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta content="ai chatbot desloppifier" property="og:site_name" />
    <meta
      content="makes chatbot definitions consistent for you"
      property="og:description"
    />
    <link rel="shortcut icon" href="/3c.png" />
    <title>desloppify</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="fullscreen-body">
    <Navbar />
    <DesloppifyComponent client:only />
  </body>
</html>
