---
import DesloppifyComponent from "../../../slices/chatbot-tools/Desloppify.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>desloppify</title>
    <link rel="stylesheet" href="/style.css" />
    <style is:global>
      body {
        height: 100%;
        display: grid;
        place-items: center;
      }
    </style>
  </head>
  <body>
    <DesloppifyComponent client:load />
  </body>
</html>
