---
import ImageInfoComponent from "../../../slices/image-gen-tools/ImageInfo.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/3c.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta content="generated image metadata viewer" property="og:site_name" />
    <meta
      content="view metadata for generated images"
      property="og:description"
    />
    <link rel="shortcut icon" href="/3c.png" />
    <title>image info</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="fullscreen-body">
    <ImageInfoComponent client:only />
  </body>
</html>
