---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/3c.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>sillie.st</title>
    <style>
      :root {
        font-family: sans-serif;
      }

      html {
        height: 100%;
        display: grid;
        place-items: center;
      }
    </style>
  </head>
  <body>
    <h1>hi sillies :3</h1>
  </body>
</html>
