---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/3c.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta content="colon three c" property="og:site_name" />
    <meta content="hi sillies" property="og:description" />
    <meta content="/3c.png" property="og:image" />
    <link rel="shortcut icon" href="/3c.png" />
    <title>sillie.st</title>
    <link rel="stylesheet" href="/style.css" />
    <style is:global>
      html {
        display: grid;
        place-items: center;
      }
    </style>
  </head>
  <body>
    <h1>hi sillies :3</h1>
  </body>
</html>
