---
import NavbarLink from "./NavbarLink.astro";
---

<div class="Navbar">
  <a href="/" class="Navbar__logo"> <img src="/3c.png" /></a>
  <nav class="Navbar__links">
    <NavbarLink href="/files">Files</NavbarLink>
    <NavbarLink href="/gallery/create">Gallery</NavbarLink>
    <NavbarLink href="/tools/chatbot/chub">Chub Search</NavbarLink>
    <NavbarLink href="/tools/chatbot/desloppify">Desloppify</NavbarLink>
    <NavbarLink href="/tools/image-gen/image-info">Image Info</NavbarLink>
  </nav>
</div>
